<% include /layout/pageTop %>

<!--ToDo: Alterar a view para não escolher os dados de acordo com o todo de habitations.js -->
<div class='container'>
  <div class='row'>
    <div class='col-sm-12'>
      <h2>List of habitations</h2>

      <% include ./buildingBlocks/pagination %>

      <% var listOffset = pagePayload * (pageToPresent - 1); %>
      <% for (var cursor = 0; cursor < habitationsList.length; cursor++) { %>
      <article class="panel panel-default">
        <div class="panel-heading">
          <a href="<%= habitationDetailUrlPrefix + habitationsList[cursor].id %>"><h3
              class="panel-title"><%= habitationsList[cursor].name %>
              / <%= habitationsList[cursor].location.local %></h3></a>
        </div>
        <div class="panel-body">
          <p><a href="<%= habitationsList[cursor].detailsPage %>"><img
                src="<%= habitationsList[cursor].gallery.featuredPhotoThumbnail %>"
                height="80px" class="img-rounded" style="float:left; margin-right:12px"/></a>
            <%= habitationsList[cursor].summary %></p>
        </div>
      </article>
      <% }; %>

      <% include ./buildingBlocks/pagination %>

    </div>
  </div>
</div>

<% include /layout/pageBottom %>
